.chart {
  /* padding: 0.5rem; */
  border-radius: 12px;
  /* background-color: #dddddd; */
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
  margin: 50px 0;
}
